.SidePanel{
  position: absolute;
  top:43px;
  left:96px;
  width: 96px;
  height: 100%;
z-index: 10;
  margin-top: 13px;
}
.par{
  width: 96px;
  height: 58px;
  background: #191D2D;
  border-radius: 8px;
  margin-bottom: 30px;
  transform: skew(-20deg);
}
.p{
  background:#6FD04F;
}
.logo{
  display:block;
  margin:auto;
  margin-bottom: 40px;
}
.barImag{
  display:block;
  margin:0 auto;
  padding-top: 9px;
  transform: skew(20deg);
}
