.playerChallenge{
  width:414px;
  height: 824px;
  margin-left: 245px;
  margin-top: 35px;
  border-radius: 12px;
  background-color: #121420;
}
.playerChallengeHeader{
  position: absolute;
  background: #191D2D;
  width: 414px;
  height: 88px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  font-weight: 500;
font-size: 20px;
line-height: 24px;

text-transform: uppercase;
color: #FFFFFF;

}
.playerText{
  position: relative;
  top:32px;
  width: 350px;
  height: 26px;
  margin-left: 32px;

  display: flex;
  justify-content: space-between;
}

.playerComponent{
  position: relative;
  top:63px;
  margin-top: 24px;
  margin-left: 32px;
  width: 350px;
  height: 78px;

  background: #191D2D;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;

}
.avatar{
  margin-left: 15px;
  margin-top: 23px;
}
.dateAcc{
  display: flex;
}
.dateAcc1{
  display: flex;
  margin-left: 31px;
  margin-top: 30px;
}
.InfoPlayer{
  height: 32px;
  margin-top:17px;
  margin-left: 5px;
}
.Info{
  margin-bottom: 0;
  font-weight: 500;
font-size: 16px;
text-transform: uppercase;
color: #FFFFFF;
}
.Info1{
  margin-bottom: 0;
  font-weight: 500;
font-size: 14px;
line-height: 17px;
text-transform: none;
color: #575E78;
}
.chipimg{
  margin-right: 11.5px;
}
.paralle{
  margin-top: 23px;
margin-left: 27px;
  width: 38px;
  height: 32px;
  background: linear-gradient(82.02deg, #3187FF 2.99%, #7AB6FF 95.79%);
  transform: skew(-20deg);
border-radius: 2px;

}
.question{
  transform: skew(15deg);
padding-left: 7px;
padding-top: 3px;
}
