.SidePanel{
  position: fixed;
  width: 96px;
  margin-left: 96px;
  margin-right:50px;
  margin-top: 13px;
}
.par{
  width: 96px;
  height: 58px;
  background: #6FD04F;
  border-radius: 8px;
}
.logo{
  display:block;
  margin:auto;
  margin-bottom: 40px;
}
