

.Header{
  margin-top: 40px;
  margin-left: 245px;
  display: flex;
  justify-content: space-between;
  width: 1537px;

}
.fastStart{

  margin-left: 73px;
  display: flex;
}
.textFastStart{
  padding-top: 15px;
  padding-left: 11.5px;
  padding-right: 6.29px;
  font-size: 18px;
line-height: 15px;
color:#636F89;
}
.comand{
  padding-left: 26.38px;

}
