
.title {
  font-family: Rubik, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.sub{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #E48D37;
}
.count {
  font-family: Rubik, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #6FD04F;
}

.container {

}
